@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: white;
  color: rgb(7, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
}

input {
  color: black;
}

header {
  display: inline;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #413434;
  display: flex;
  justify-content: center;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #4aaed8;
}

li {
  float: left;
}
.profile {
  position: absolute;
  top: 0;
  right: 0;
}
.Logo {
  border-radius: 30px;
}
.animatedThing {
  color: rgb(35, 32, 20);
  font-size: small;
  width: 50%;
  justify-content: center;
}
button {
  background-image: linear-gradient(
    to bottom right,
    #41b2f9,
    #6ae7fa,
    #0e9c40,
    #a2dacd
  );
  border: none;
  box-sizing: border-box;
  color: white;
  padding: 20px 24px;
  justify-content: center;
  cursor: pointer;
  width: 20%;
  display: inline-block;
  margin: 20px 10px;
  border-radius: 45px;
  transition: all 0.5s;
  font-size: larger;
  align-items: center;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span {
  padding-right: 35px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
.post_area {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

