@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f3f4;
  min-height: 100vh;
}
.share {
  font-size: 0.5em;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(229 231 235);
  color: #3f4d32;
  opacity: 0.9;
  z-index: 5;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(229 231 235);
  z-index: 5;
  opacity: 0.875;
  margin-top:0;
  
}
form {
  color:black;
}

input,
select,
textarea {
  padding: 0.25rem;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}